<?xml version="1.0"?>

<robot name="velvet_fingers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="velvet_fingers_gazebo" params="name">

  <!-- Plugin for the mimic o/c joint - AFAIK, that shouldn't be necessary any more starting with Gazebo 3.0 -->
    <gazebo>
      <plugin name="mimic_plugin" filename="libgazebo_mimic_plugin.so">
       <joint>${name}_joint_1</joint>
        <mimicJoint>${name}_joint_2</mimicJoint>
        <multiplier>1.0</multiplier>
      </plugin>
    </gazebo> 

    <!-- Palm -->
    <gazebo reference="${name}_palm">
      <material>Gazebo/Red</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Right Finger -->
    <gazebo reference="${name}_right">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Left Finger -->
    <gazebo reference="${name}_left">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

