<?xml version="1.0"?>
<robot name="velvet_fingers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="velvet_fingers_transmission" params="name hardware_interface">

    <transmission name="${name}_tran_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <!--  <transmission name="${name}_tran_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission> -->

  </xacro:macro>

</robot>



