<?xml version="1.0"?>

<robot name="velvet_fingers" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="velvet_fingers_gazebo" params="name">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	<robotNamespace>/velvet_fingers</robotNamespace>
      </plugin>
    </gazebo>

    <!-- Palm -->
    <gazebo reference="${name}_palm">
      <material>Gazebo/Red</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Right Finger -->
    <gazebo reference="${name}_right">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Left Finger -->
    <gazebo reference="${name}_left">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

