<?xml version="1.0"?>
<launch>
  <node name="tty_reset" pkg="velvet_interface_node" type="setTTY"/>
  <node name="arduino_ifce" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>
  <node name="win_ifce" pkg="rosserial_server" type="socket_node"/>
  <node name="velvet_node" pkg="velvet_interface_node" type="velvet_node" launch-prefix="xterm -e ">
    <param name="use_ft" value="false"/>
  </node>
</launch>
